## chap3. Python組み込みのデータ構造と関数、ファイルの扱い

2023-10-24 ~ 25

タプル

In [1]:
tup = (4, 5, 6)

In [2]:
tup

(4, 5, 6)

タプルの分解

In [3]:
tup = (4, 5, 6)

In [4]:
a, b, c = tup
b

5

In [5]:
tup[2]

6

In [6]:
a, b = 1, 2

In [7]:
a

1

In [8]:
tup

(4, 5, 6)

In [9]:
seq = [(1, 2, 3),(4, 5, 6),(7, 8, 9)]

In [11]:
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [12]:
values = (1, 2, 3, 4, 5)

In [13]:
a, b, *rest = values

In [14]:
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [15]:
a, b, *_ = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [16]:
a, b, *_ = values
print(a)
print(b)
print(_)

1
2
[3, 4, 5]

In [17]:
a = (1,2,2,2,3,4,2)

In [18]:
a.count(2)

4

リスト

In [19]:
gen = range(10)

In [20]:
gen

range(0, 10)

In [21]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
a = [7, 2, 5, 1, 3]

In [23]:
a.sort()

In [24]:
a

[1, 2, 3, 5, 7]

In [25]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [26]:
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [27]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:5] = [6,3] #7,5を6,3に置換
seq

[7, 2, 3, 6, 3, 6, 0, 1]

ディクショナリ

In [28]:
empty_dict = {}
d1 = {'a':'some value', 'b':[1,2,3,4]}

In [29]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [30]:
d1[7] ='an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [31]:
d1['b']

[1, 2, 3, 4]

In [32]:
'b' in d1

True

In [35]:
d1[5] ='some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [36]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [37]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [38]:
ret = d1.pop('dummy')
ret

'another value'

In [39]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [40]:
list(d1.keys())

['a', 'b', 7]

In [41]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [42]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [43]:
d1.update({'b':'foo', 'C':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'C': 12}

In [44]:
list1 = ['a', 'b', 'c']
list2 = ['apple', 'banana', 'cat']
z = zip(list1, list2)
d = dict(z)
d

{'a': 'apple', 'b': 'banana', 'c': 'cat'}

**セット**  
セットは、順序付けされていない重複のない要素の集合

In [47]:
li = [2, 2, 2, 1, 3, 3]
set1 = set(li)
set1

{1, 2, 3}

In [5]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [6]:
c = a.copy()

In [11]:
c |=  b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [14]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [15]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [16]:
a_set.issuperset({1, 2, 3})

True

In [17]:
{1, 2, 3} == {3, 2, 1}

True

組み込みシーケンス関数

enumarate関数
```
for index, value in enumerate(collection):
    # valueを使って何かする
```

sorted関数

In [18]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [19]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

zip関数

In [28]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [32]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
dict(zipped)

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

In [33]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [36]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f'{index}: {a},{b}')

0: foo,one
1: bar,two
2: baz,three

reversed関数

In [37]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

**リスト、セット、ディクショナリの内包表記**

[expr for value in collection if condition]

In [39]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2 ]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [47]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [48]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [50]:
loc_mapping = {value:index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

ネストしたリスト内包表記

In [51]:
all_data = [['John', 'Emiliy', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [52]:
result = [name for names in all_data for name in names if name.count('a') >= 2]
result

['Maria', 'Natalia']

In [53]:
some_tuples = [(1, 2, 3),(4, 5, 6), (7, 8, 9)]
li = [num for nums in some_tuples for num in nums]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**関数**

In [58]:
def say_hello(x):
    return(x)
    print(x)

In [59]:
result = say_hello('hello')
result

'hello'

In [60]:
print(result)

hello

無名（ラムダ）関数

In [61]:
def short_function(x):
    return x *2

short_function(4)

8

In [62]:
equiv_anon = lambda x: x*2
equiv_anon(4)

8

In [63]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [64]:
ints = [4, 0, 1, 5, 6]

In [65]:
apply_to_list(ints, lambda x:x+2)

[6, 2, 3, 7, 8]

In [66]:
strings = ['foo', 'card', 'bar', 'aaa', 'abab']
strings.sort(key = lambda x: len(set(x)))
strings

['aaa', 'foo', 'abab', 'bar', 'card']

ジェネレータ  
ジェネレータを作るためには、returnの代わりにyieldキーワードを関数内で使う

In [67]:
def squares(n=10):
    print(f'Generating squares from 1 to {n ** 2}')
    for i in range(1, n+1):
        yield i ** 2

In [71]:
print(squares())

<generator object squares at 0x000002DE9BF13760>

In [74]:
gen = squares()
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

ジェネレータ式  
リスト内包表記で[]の内側に書く内容を()で囲む

In [75]:
gen = (x ** 2 for x in range(100))
gen

ジェネレータ式は、関数の引数としてリスト内包表記の代わりに使える場合がある

In [76]:
sum(x ** 2 for x in range(100))

328350

In [77]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

itertoolsモジュール

In [81]:
import itertools

In [82]:
def first_letter(x):
    return x[0]

In [83]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [84]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

エラーと例外の処理

In [85]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [88]:
attempt_float((1,2))

(1, 2)

In [91]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [92]:
attempt_float((1,2))

(1, 2)

**ファイルとオペレーティングシステム**

In [107]:
path = 'examples\segismundo.txt'

In [108]:
f = open(path, encoding='utf-8')

In [ ]:
for line in f:
    print(line.rstrip())

In [110]:
f.close()

開いたファイルのクリーンアップをするには、with文を使うのが便利  
withブロックを出るときに自動的にファイルを閉じる

In [ ]:
with open(path, encoding='utf-8') as f:
    lines = [x.rstrip() for x in f]

lines

In [113]:
f1 = open(path)
f1.read(10)

'## chap3. '

In [114]:
f2 = open(path, mode='rb') #バイナリモード
f2.read(10)

b'## chap3. '

In [115]:
f1.tell()

10

In [116]:
f1.read(10)

'Python組み込み'

In [117]:
f1.tell()

28

In [118]:
f1.close()
f2.close()